<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>servlet00</display-name>
  <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ums/list-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdduserServlet</display-name>
    <servlet-name>AdduserServlet</servlet-name>
    <servlet-class>web.AdduserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdduserServlet</servlet-name>
    <url-pattern>/ums/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>web.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/ums/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.MyListener</listener-class>
  </listener>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>filter.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/ums/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>mvc.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    
    
    
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>